<app-header></app-header>
<div class="banner about-banner" style="background-image:url('./assets/images/Shipper-Login-Banner.jpg')">
    <h1>SHIPPER REGISTRATION</h1>
</div>
<div class="selection-wrapper">
    <div class="container">
        <h3>Select Who you are</h3>
        <div class="custom-radio-block">
            <div class="radio-container">
                <input  type="radio" checked="checked" name="radio">
                <div class="content-wrapper">
                    <div class="img-wrapper">
                        <img src="/assets/images/location.svg" alt="location">
                        <img src="/assets/images/location-yellow.svg" alt="location" class="checked">
                    </div>
                    <div class="title">Importer</div>
                </div>
            </div>
            <div class="radio-container">
                <input  type="radio" checked="checked" name="radio">
                <div class="content-wrapper">
                    <div class="img-wrapper">
                        <img src="/assets/images/cargo-ship.svg" alt="location">
                        <img src="/assets/images/cargo-ship-yellow.svg" alt="location" class="checked">
                    </div>
                    <div class="title">Exporter</div>
                </div>
            </div>
            <div class="radio-container">
                <input  type="radio" checked="checked" name="radio">
                <div class="content-wrapper">
                    <div class="img-wrapper">
                        <img src="/assets/images/engineer.svg" alt="location">
                        <img src="/assets/images/engineer-yellow.svg" alt="location" class="checked">
                    </div>
                    <div class="title">Forwarder/ Representative</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="registration-form">
    <div class="form-group-block">
        <div class="form-group">
            
        </div>
    </div>
</div>