<app-header></app-header>
<div class="banner about-banner" style="background-image:url('./assets/images/mrn_login_banner.jpg')">
    <h1>HOW IT WORK</h1>
</div>
<div class="info-section">
    <div class="container">
        <div class="service-detail-wrap">
            <div class="detail-block cms-list-block">
                <div class="inner-detail-wrap how-work">
                        <h3>CTN SUBMISSION STEPS</h3>
                        <ul>
                            <li>Go to the website</li>
                            <li>Select shipper</li>
                            <li>Enter your username and password</li>
                            <li>Go to create CTN/ACD/ACI</li>
                            <li>Select your transaction type (Import/Export)</li>
                            <li>Enter the necessary information in the provided spaces</li>
                            <li>Upload BL and Commercial invoice</li>
                            <li>Submit</li>
                        </ul>
                </div>
            </div>
            <div class="detail-block cms-list-block">
                    <div class="inner-detail-wrap how-work">
                            <h3>MRN SUBMISSION STEP</h3>
                            <ul>
                                <li>Go to the website</li>
                                <li>Login as Carrier</li>
                                <li>Enter your username and password</li>
                                <li>Go to create CTN/ACD/ACI</li>
                                <li>Select your transaction type (Import/Export)</li>
                                <li>Enter the necessary information in the provided spaces</li>
                                <li>Upload BL and Commercial invoice</li>
                                <li>Submit</li>
                            </ul>
                    </div>
                </div>
        </div>
    </div>
</div>
<app-footer></app-footer>