<app-header></app-header>
<app-banner></app-banner>
<div class="two-col-block">
<div class="container">
    <div class="block-inner">
    <div class="image-col">
        <div class="image-col-inner">
        <img src="/assets/images/home-content.jpg" alt=""> 
        </div>
    </div>
    <div class="content-block">
        <h3>The Sierra Leone Ports Authority (SLPA) is a semi-autonomous organization established by the Ports Act of 1964 (amended in1991).</h3>
        <p>The major responsibilities of the SLPA are as follows:</p>
        <ul>
            <li>To control all Ports and marine activities within its jurisdiction in Sierra Leone.</li>
            <li>To operate the Port of Freetown.</li>
            <li>To oversee the operations of Nitti and Pepel which are currently operated by private mining companies for handling bulk exports of Bauxite, Rutile and Iron Ore Until 2001, SLPA also performed regulatory and other duties related to coastal and river transportation</li>
        </ul>
    </div>
    </div>
</div>
</div>
<div class="service-block">
    <div class="container">
        <div class="service-detail-block">
            <div class="service-left">

            </div>
            <div class="service-right">

            </div>
        </div>
    </div>
</div>