@import 'general';


.service-block{

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include rem-fallback(padding,80,0);
    h2{
        color:$white;
        @include rem-fallback(margin-bottom,35);
        text-align: center;
    }
    .service-detail-block{

        display: flex;
        flex-wrap:wrap;
        margin:0 -10px;
        max-width:1080px;
        margin-left:auto;
        margin-right:auto;
        h3{
            color:$blue;
            @include rem-fallback(margin-bottom,15);
            padding:0;
            font-weight:400;
            min-height:60px;
        }
        p{
            color:$black;
            @include rem-fallback(margin-bottom,15);

        }
        a{
            @include rem-fallback(margin-top,15);
            display:inline-block;
            &:hover{
                color:$yellow;
                &:before{
                 
                    border-color:$footer-bg;
                }
                
            }
        }
        .service-left{
            width:50%;
            @include rem-fallback(padding,0,15);
        }
        .service-right{
            width:50%;
            @include rem-fallback(padding,0,15);
        }
        .service-left-inner{
            background-color: $white;
            @include rem-fallback(padding,50);
            @include rem-fallback(border-radius,5);
            height:100%;
        }
    }
}

