<app-header></app-header>
<app-banner></app-banner>
<div class="two-col-block">
<div class="container">
    <div class="block-inner">
    <div class="image-col">
        <div class="image-col-inner">
        <img src="/assets/images/home-content.jpg" alt=""> 
        </div>
    </div>
    <div class="content-block">
        <h3>The Sierra Leone Ports Authority (SLPA) is a semi-autonomous organization established by the Ports Act of 1964 (amended in1991).</h3>
        <p>The major responsibilities of the SLPA are as follows:</p>
        <ul>
            <li>To control all Ports and marine activities within its jurisdiction in Sierra Leone.</li>
            <li>To operate the Port of Freetown.</li>
            <li>To oversee the operations of Nitti and Pepel which are currently operated by private mining companies for handling bulk exports of Bauxite, Rutile and Iron Ore Until 2001, SLPA also performed regulatory and other duties related to coastal and river transportation</li>
        </ul>
    </div>
    </div>
</div>
</div>
<div class="service-block" style="background-image: url('./assets/images/service-bg.jpg')">
    <div class="container">
            <h2>Services We Provide</h2>
        <div class="service-detail-block">
            
            <div class="service-left">
                <div class="service-left-inner">
                    <h3>Movement References Number (MRN)</h3>
                    <p><strong>Movement Reference Number (MRN)</strong> is issued by the Customs Authority from various countries across the world.</p>
                    <p>MRN makes it easier to facilitate the movement of goods from one point to the others under the customs territory, via another customs territory, or between two or more different customs territories. </p>
                    <a href="#" title="READ MORE" class="primary-btn">READ MORE</a>
                </div>
            </div>
            <div class="service-right">
                <div class="service-left-inner">
                        <h3>Cargo Tracking Note (CTN)</h3>
                        <p>Cargo Tracking Note certificate contains detailed information on cargo and its movement between ports. It’s also enables Marine Custom Authorities to access information about exporter/importer, shipping route and methods, type and value of the cargo, the value of the freight as well as the details about commodity being carried.</p>
                        <a href="#" title="READ MORE" class="primary-btn">READ MORE</a>

                    </div>
            </div>
        </div>
    </div>
</div>

<div class="info-section">
    <div class="container">
        <div class="info-inner">
            <div class="info-detail-block">
                <div class="inner-detail">
                <i><img src="assets/images/map.svg"></i>
                <h3>Logistics solutions & services (LSS)</h3>
                <p>48 Big Waterloo Street, Freetown, Sierra Leone</p>
                </div>
            </div>
            <div class="info-detail-block">
                    <div class="inner-detail">
                    <i><img src="assets/images/contact.svg"></i>
                    <h3>Helpdesk</h3>
                    <p>Email: <a href="mailto:info@ctn-slngs.com" title="info@ctn-slngs.com">info@ctn-slngs.com</a></p>
                    <p>Phone: <a href="telto:+232 80272727" title="+232 80272727">+232 80272727</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>



