<app-header></app-header>
<div class="banner about-banner" style="background-image:url('./assets/images/mrn_login_banner.jpg')">
    <h1>CARGO TRACKING NOTE (CTN)</h1>
</div>
<div class="two-col-block">
        <div class="container">
            <div class="block-inner">
            <div class="image-col">
                <div class="image-col-inner">
                <img src="/assets/images/home-content.jpg" alt=""> 
                </div>
            </div>
            <div class="content-block">
                <p>Cargo Tracking Note certificate contains detailed information on cargo and its movement between ports. It’s also enables Marine Custom Authorities to access information about exporter/importer, shipping route and methods, type and value of the cargo, the value of the freight as well as the details about commodity being carried.</p>
                <p><strong>CTN certificate</strong>&nbsp;is an official loading document that must be accompanied by every cargo shipment with&nbsp;<strong>Leone&nbsp;as the final destination.</strong></p>
               
            </div>
            </div>
        </div>
        </div>
        <div class="two-col-block dec-block">
                <div class="container">
                    <div class="block-inner">
                    
                    <div class="content-block">
                            <p>The CTN requirement was implemented by Sierra Leone Customs officials in 2000, obliging&nbsp;<strong>Exporters / Freight Forwarders</strong>&nbsp;to obtain this certificate for&nbsp;<strong>shipment</strong>&nbsp;before they touch Sierra Leone shores.</p>
                            <p><strong>CTN certificate</strong>&nbsp;is an official loading document that must be accompanied by every cargo shipment with&nbsp;<strong>Leone&nbsp;as the final destination.</strong></p>
                             <p><strong>Requirements:</strong></p>   
                            <ul>
                                    <li><p><strong>BILL OF LADING</strong> - a Draft copy can be used for the draft</p></li>
                                    <li><p><strong>COMMERCIAL INVOICE</strong> - Incoterm, reference, and the date have to be mentioned.</p></li>
                                    <li>To oversee the operations of Nitti and Pepel which are currently operated by private mining companies for handling bulk exports of Bauxite, Rutile and Iron Ore Until 2001, SLPA also performed regulatory and other duties related to coastal and river transportation</li>
                            </ul>
                        
                        </div>
                    </div>
                </div>
                </div>

<app-footer></app-footer>
