<header class="header" id="header"> 
        <div class="container">
            <div class="header-inner-wrap">
                <div class="header-left">
                <a routerLink="/pages/home-page" title="logo" class="logo"><img src="assets/images/logo.png"></a>
                <ul class="header-nav">
                    <li class="nav-item"><a href="#" title="About CTN">About CTN</a></li>
                    <li class="nav-item"><a href="#" title="CTN Fees">CTN Fees</a></li>
                </ul>
            </div>
            <div class="header-right">
                <i class="flag-icon"><img src="assets/images/flag.png"> </i>
            </div>
            </div> 
        </div>
    </header>