
<div class="home-baner">
    <ngx-slick-carousel class="carousel custom-slick-slider"
                        #slickModal="slick-carousel"
                        [config]="slideConfig"
                        >
        <div ngxSlickItem class="slide" style="background-image:url('https://ngs-s3-document-production.s3.af-south-1.amazonaws.com/Slider/home-banner01_1602763441.jpg')">
            
            <div class="slider-content">
                <div class="inner-content">
                    <h1> VIEWING THE COMPLETE IMPORT/EXPORT BULK ACTIVITIES QUICKER & CLOSER </h1>
                    <p> Our authentication of conformity service that helps in ensuring that all shipments conform to ISPS and local importing standards ahead of the arrival in order to allow trade parties to process import/export certification and timely screen all movements of goods across borders. </p>
                    <div class="btn-block">
                        <a href="#" title="SHIPPER LOGIN" class="primary-btn">SHIPPER LOGIN</a>
                        <a href="#" title="MRN LOGIN" class="primary-btn">MRN LOGIN</a>
                    </div>
                </div>
            </div>
        </div>
        <div ngxSlickItem  class="slide" style="background-image: url('https://ngs-s3-document-production.s3.af-south-1.amazonaws.com/Slider/home-banner01_1602763441.jpg')">
            <div class="slider-content">
                    <div class="inner-content">
                        <h1> VIEWING THE COMPLETE IMPORT/EXPORT BULK ACTIVITIES QUICKER & CLOSER </h1>
                        <p> Our authentication of conformity service that helps in ensuring that all shipments conform to ISPS and local importing standards ahead of the arrival in order to allow trade parties to process import/export certification and timely screen all movements of goods across borders. </p>
                        <div class="btn-block">
                            <a href="#" title="SHIPPER LOGIN" class="primary-btn">SHIPPER LOGIN</a>
                            <a href="#" title="MRN LOGIN" class="primary-btn">MRN LOGIN</a>
                        </div>
                    </div>
                </div>
        </div>
      <div ngxSlickItem  class="slide" style="background-image:url('https://ngs-s3-document-production.s3.af-south-1.amazonaws.com/Slider/home-banner03_1595999615_1602148530.jpg') ">
        <div class="slider-content">
                <div class="inner-content">
                    <h1> VIEWING THE COMPLETE IMPORT/EXPORT BULK ACTIVITIES QUICKER & CLOSER </h1>
                    <p> Our authentication of conformity service that helps in ensuring that all shipments conform to ISPS and local importing standards ahead of the arrival in order to allow trade parties to process import/export certification and timely screen all movements of goods across borders. </p>
                    <div class="btn-block">
                        <a href="#" title="SHIPPER LOGIN" class="primary-btn">SHIPPER LOGIN</a>
                        <a href="#" title="MRN LOGIN" class="primary-btn">MRN LOGIN</a>
                    </div>
                </div>
        </div>
    </div>
    </ngx-slick-carousel>
</div>