<app-header></app-header>
<div class="banner about-banner" style="background-image:url('./assets/images/mrn_login_banner.jpg')">
    <h1>contact us</h1>
</div>
<div class="info-section">
        <div class="container">
            <div class="info-inner">
                <div class="info-detail-block">
                    <div class="inner-detail">
                    <i><img src="assets/images/map.svg"></i>
                    <h3>Logistics solutions & services (LSS)</h3>
                    <p>48 Big Waterloo Street, Freetown, Sierra Leone</p>
                    </div>
                </div>
                <div class="info-detail-block">
                        <div class="inner-detail">
                        <i><img src="assets/images/contact.svg"></i>
                        <h3>Helpdesk</h3>
                        <p>Email: <a href="mailto:info@ctn-slngs.com" title="info@ctn-slngs.com">info@ctn-slngs.com</a></p>
                        <p>Phone: <a href="telto:+232 80272727" title="+232 80272727">+232 80272727</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<app-footer></app-footer>