<app-header></app-header>
<div class="banner about-banner" style="background-image:url('./assets/images/mrn_login_banner.jpg')">
    <h1>Terms and conditions</h1>
</div>
<div class="two-col-block">
        <div class="container">
            <div class="block-inner">
            <div class="image-col">
                <div class="image-col-inner">
                <img src="/assets/images/home-content.jpg" alt=""> 
                </div>
            </div>
            <div class="content-block">
                <p><strong>1. GENERAL</strong></p>
                <p>(a) Unless otherwise agreed in writing or except where they are at variance with</p>
                <p>(i) the regulations governing services performed on behalf of governments, government bodies or any other public entity or (ii) the mandatory provisions of local law, all offers or services and all resulting contractual relationship(s) between any of the affiliated companies of NAT Solutions. or any of their agents (each a “Company”) and Client (the “Contractual Relationship(s)”) shall be governed by these general conditions of service (hereinafter the “General Conditions”).</p>
               
            </div>
            </div>
        </div>
        </div>
        <div class="two-col-block dec-block">
                <div class="container">
                    <div class="block-inner">
                    
                    <div class="content-block">
                           <p>b) The Company may perform services for persons or entities (private, public or governmental) issuing instructions (hereinafter, the “Client”).</p>
                            <p>(c) Unless the Company receives prior written instructions to the contrary from Client, no other party is entitled to give instructions, particularly on the scope of the services or the delivery of reports or certificates resulting therefrom (the “Reports of Findings”). Client hereby irrevocably authorises the Company to deliver Reports of Findings to a third party where so instructed by Client or, at its discretion, where it implicitly follows from circumstances, trade custom, usage or practice.</p>
                            <p><strong>2. PROVISION OF SERVICES</strong></p>
                            <p>(a) The Company will provide services using reasonable care and skill and in accordance with Client’s specific instructions as confirmed by the Company or, in the absence of such instructions:</p>
                            <p>(1) the terms of any standard order form or standard specification sheet of the Company; and/or</p>
                            <p>(2) any relevant trade custom, usage or practice; and/or</p>
                            <p>(3) such methods as the Company shall consider appropriate on technical, operational and/or financial grounds.</p>
                            <p>(b) Information stated in Reports of Findings is derived from the results of inspection or testing procedures carried out in accordance with the instructions of Client, and/or our assessment of such results on the basis of any technical standards, trade custom or practice, or other circumstances which should in our professional opinion be taken into account.</p>
                            <p>(c) Reports of Findings issued further to the testing of samples contain the Company’s opinion on those samples only and do not express any opinion upon the lot from which the samples were drawn.</p>
                            <p><strong>3. OBLIGATIONS OF CLIENT</strong></p>
                            <p>The Client will:</p>
                            <p>(a) ensure that sufficient information, instructions and documents are given in due time (and, in any event not later than 48 hours prior to the desired intervention) to enable the required services to be performed;</p>
                            <p>(b) procure all necessary access for the Company’s representatives to the premises where the services are to be performed and take all necessary steps to eliminate or remedy any obstacles to, or interruptions in, the performance of the services;</p>
                            <p>(c) supply, if required, any special equipment and personnel necessary for the performance of the services;</p>
                            <p><strong>4. FEES AND PAYMENT</strong></p>
                            <p>(a) Fees not established between the Company and Client at the time the order is placed or a contract is negotiated shall be at the Company’s standard rates (which are subject to change) and all applicable taxes shall be payable by Client.</p>
                            <p>(b) Unless a shorter period is established in the invoice, Client will promptly pay not later than 30 days from the relevant invoice date or within such other period as may be established by the Company in the invoice (the “Due Date”) all fees due to the Company failing which interest will become due at a rate of 1.5% per month (or such other rate as may be established in the invoice) from the Due Date up to and including the date payment is actually received.</p>
                            <p>(c) Client shall not be entitled to retain or defer payment of any sums due to the Company on account of any dispute, counter claim or set off which it may allege against the Company.</p>
                            <p>(d) Company may elect to bring action for the collection of unpaid fees in any court having competent jurisdict </p>
                            <p><strong>5. SUSPENSION OR TERMINATION OF SERVICES</strong></p>
                            <p>The Company shall be entitled to immediately and without liability either suspend or terminate provision of the services in the event of:</p>
                            <p>(a) failure by the Client to comply with any of its obligations hereunder and such failure is not remedied within 10 days that notice of such failure has been notified to Client; or</p>
                            <p>(b) any suspension of payment, arrangement with creditors, bankruptcy, insolvency, receivership or cessation of business by Client.</p>
                            <p><strong>6. LIABILITY AND INDEMNIFICATION</strong></p>
                            <p>(a) Limitation of Liability:</p>
                            <p>(1) The Company is neither an insurer nor a guarantor and disclaims all liability in such capacity. Clients seeking a guarantee against loss or damage should obtain appropriate insurance.</p>
                            <p>(2) Reports of Findings are issued on the basis of information, documents and/or samples provided by, or on behalf of, Client and solely for the benefit of Client who is responsible for acting as it sees fit on the basis of such Reports of Findings. Neither the Company nor any of its officers, employees, agents or subcontractors shall be liable to Client nor any third party for any actions taken or not taken on the basis of such Reports of Findings nor for any incorrect results arising from unclear, erroneous, incomplete, misleading or false information provided to the Company.</p>
                        </div>
                    </div>
                </div>
                </div>
<app-footer></app-footer>