@import 'general';
.footer{
    background-color: $footer-bg;
    color:$white;
    .upper-footer{
        @include rem-fallback(padding,50,0);
        .upper-footer-wrap{
           display: flex;
           justify-content:space-between;
           margin:0 -15px;
           .footer-col{
               width:25%;
               @include rem-fallback(padding,0,15);
               li{
                @include rem-fallback(margin-bottom,10);
                a{
                    display:inline-block;
                    @include rem-fallback(padding,0,5);
                    color:$white;
                    text-decoration:none;
                    @include rem-fallback(font-size,16);
                    @include rem-fallback(line-height,26);
                    &:hover{
                        color:$yellow;
                    }
                    
               }
               &:last-child{
                   margin-bottom:0;
               }
               
            }
            &.social-icons{
                ul{
                    display:flex;
                    align-items: center;
                    li{
                        margin-bottom:0;
                        a{
                            @include rem-fallback(padding,0,5);
                            &:hover{
                                span{
                                    background-color:$yellow;
                                }
                            }
                           
                                span{
                                    display:inline-block;
                                    @include rem-fallback(width,45);
                                    @include rem-fallback(height,45);
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background-color: $gray-bg;
                                    color:$white;
                                    text-decoration:none;
                                    border-radius:50%;
                                    transition: 0.5s all ;
                                
                               
                            }
                        }
                    }
                }
            }
           }
        }
    }
    .lower-footer{
        background-color:$dark-gray;
        @include rem-fallback(padding,30,0);
        .lower-footer-wrap{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .lower-footer-links{
                display: flex;
                margin-top: 0;
                li{
                    @include rem-fallback(padding,0,15);
                    &:first-child{
                        padding-left:0;
                    }
                    a{
                        color:$white;
                        font-weight:300;
                        padding:0;
                        opacity:0.7;
                        @include rem-fallback(font-size,14);
                        text-decoration:none;
                        &:hover{
                            color:$yellow;
                        }

                    }
                }
            }
            .copyright-txt{
                color:$white;
                font-weight:300;
                margin:0;
                @include rem-fallback(font-size,15);
                opacity:0.7;
            }
        }
    }
}