<div class="footer">
    <div class="upper-footer">
        <div class="container">
            <div class="upper-footer-wrap">
                <div class="footer-col footer-logo-block">
                    <a href="#" title="logo"><img src="./assets/images/logo.png"></a>
                </div>
                <div class="footer-col">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="#" class="" title="About CTN">About CTN</a></li>
                        <li><a href="#" class="" title="CTN Fees">CTN Fees</a></li>
                        <li><a href="#" class="" title="Contact Us">Contact Us</a></li>   
                    </ul>
                </div>
                <div class="footer-col">
                        <h4>Company</h4>
                        <ul>
                            <li><a href="#" class="" title="Home">Home</a></li>
                            <li><a href="#" class="" title="About Us">About Us</a></li>
                            <li><a href="#" class="" title="Help/Support">Help/Support</a></li> 
                            <li><a href="#" class="" title="How it works">How it works</a></li>  
                        </ul>
                    </div>
                    <div class="footer-col social-icons">
                            <h4>Social Links</h4>
                            <ul>
                                <li><a href="#" class="" title=""><span><img src="./assets/images/facebook.svg"></span></a></li>
                                <li><a href="#" class="" title=""><span><img src="./assets/images/twitter.svg"></span></a></li>
                                <li><a href="#" class="" title=""><span><img src="./assets/images/linkedin.svg"></span></a></li>   
                            </ul>
                        </div>
            </div>
        </div>
    </div>
    <div class="lower-footer">
        <div class="container">
            <div class="lower-footer-wrap">
                <div class="left-block">
                    <ul class="lower-footer-links">
                        <li><a href="#" title="Terms & Conditions">Terms & Conditions</a></li>
                        <li><a href="#" title=" Privacy Policy">Privacy Policy</a></li>

                    </ul>
                </div>
                <div class="right-block">
                    <p class="copyright-txt"> NAT Solutions © 2023 All Rights Reserved. </p>
                </div>
            </div>
        </div>
    </div>
</div>